/* Breakpoints */
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

/* Fonts */
$primary-font: "Space Grotesk", sans-serif;

/* Colors */
$green: #4EE1A0;
$black: #151515;
$dark-grey: #242424;
$grey: #D9D9D9;
$white: #FFFFFF;
