.portfolio-projects{
    
    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;

        @include breakpoint(desktop) {
            
        }

        & h2 {
            font-size: 40px;
            line-height: 40px;
            word-spacing: -1.14px;

            @include breakpoint(tablet) {
                font-size: 72px;
                line-height: 72px;
                word-spacing: -2.05px;
            }

            @include breakpoint(desktop) {
                @include heading-XL;
            }
        }
    }

    &-articles{
        

        @include breakpoint(tablet) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-items: baseline;
            gap: 24px;
            margin-bottom: 100px;
        }

        @include breakpoint(desktop) {
            gap: 30px;
        }

        &-project{
            position: relative;

            @include breakpoint(desktop) {

                &:hover {
                    .portfolio-projects-articles-project-buttons {
                        position: absolute;
                        left: 40%;
                        top: 30%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 48px;


                        justify-content: center;
                        z-index: 20;
                    }


                    .portfolio-projects-articles-project-image img {
                        filter: brightness(0.3);
                    }
                }
            }
            
            &-image{

                & img{
                    max-width: 100%;
                }
            }

            & h4{
                @include heading-M;
                padding: 20px 0;

            }
            
            &-languages{
                display: flex;

                & p{
                    @include font-body;
                    padding-right: 18px;
                    margin-bottom: 20px;
                }
            }
            
            &-buttons{
                margin-bottom: 40px;

                @include breakpoint(desktop) {
                    display: none;
                }

                & .button{
                    padding-right: 30px;
                }
            }
        }
    }
}
    